@layer components {
  .container-outer {
    padding-inline: if(media(width >=64rem): var(--gutter); else: var(--space-4));

    &[data-full-width] {
      inline-size: 100%;
    }

    &[data-full-width] .container-inner {
      margin-inline: initial;
      max-inline-size: none;
    }
  }

  .container-inner {
    margin-inline: auto;
    max-inline-size: var(--container-max);
  }
}
